#root,
body,
html,
input,
textarea,
button,
select,
a,
span {
	margin: 0;
	height: 100%;
	font-family: 'Roboto', 'Nanum Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	overflow: hidden;
}